<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>register</title>
    <script src="../../static/3rd_lib/mdui/js/mdui.min.js"></script>
    <link href=/static/3rd_lib/mdui/css/mdui.min.css rel=stylesheet>
    <script src="../../static/3rd_lib/vue/vue.min.js"></script>
    <script src="../../static/3rd_lib/axios/axios.min.js"></script>
    <script src="../../static/3rd_lib/qs/qs.min.js"></script>
</head>
<body>
<div id="app">
    <div class="mdui-bottom-nav mdui-color-indigo">
        <a href="javascript:window.location.href='/login/';" class="mdui-ripple">
            <i class="mdui-icon material-icons">&#xe8b8;</i>
            <label>用户登录</label>
        </a>
        <a href="javascript:window.location.href='/register/';" class="mdui-ripple mdui-bottom-nav-active">
            <i class="mdui-icon material-icons">&#xe8b8;</i>
            <label>新用户注册</label>
        </a>
        <a href="javascript:window.location.href='/admin/';" class="mdui-ripple">
            <i class="mdui-icon material-icons">&#xe8b8;</i>
            <label>管理员</label>
        </a>
    </div>

    <div style="text-align: center">
        <h1>欢迎注册智慧农业</h1>
    </div>

    <div class="mdui-card" style="max-width: 50%; margin: 30px auto 30px auto">
        <div style="max-width: 85%; margin: 30px auto 30px auto">
            <div class="mdui-textfield">
                <label>用户名：</label>
                <input v-model="user_infos.username" class="mdui-textfield-input" type="text"/>
            </div>
            <div class="mdui-textfield">
                <label>密码：</label>
                <input v-model="user_infos.password" class="mdui-textfield-input" type="password"/>
            </div>
            <div class="mdui-textfield">
                <label>邮箱：</label>
                <input v-model="user_infos.email" class="mdui-textfield-input" type="password"/>
            </div>
            <div class="mdui-textfield">
                <label>手机：</label>
                <input v-model="user_infos.phone_number" class="mdui-textfield-input" type="password"/>
            </div>
            <div style="display: block; margin: 20px auto 20px auto; text-align: center">
                <button @click="submit_register" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-indigo" style="max-width: 60%; min-width: 300px">提交注册信息</button>
            </div>
        </div>
    </div>

    <div style="text-align: center; max-width: 60%; margin: 20px auto 20px auto">
    </div>

</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            user_infos: {'username': '', 'password': '', 'email': '', 'phone_number': ''}
        },
        methods: {
          submit_register: function () {
              if (this.user_infos.username === '' || this.user_infos.password === '' || this.user_infos.email === '' || this.user_infos.phone_number === '') {
                    alert('请填写正确的注册信息');
                    return
                }
                _this = this;
                let data = Qs.stringify({'username': this.user_infos.username, 'password': this.user_infos.password, 'email': this.user_infos.email, 'phone_number': this.user_infos.phone_number});
                axios({
                    method: 'post',
                    url: '/register/submit_register',
                    data: data
                }).then(function (resp) {
                    if (resp.data.code === 0) {
                        alert(resp.data.msg);
                        window.location.href = '/login/'
                    }
                    else if (resp.data.code === -1) {
                        alert(resp.data.msg)
                    }
                    else if (resp.data.code === -200) {
                        alert('服务器抛出异常')
                    }
                }).catch(function (error) {
                    console.log(error)
                });
          }
        },
        mounted: function () {
            this.get_all_device_id();
        }
    })
</script>
</html>